<header>
    <div class="d-flex row bd-highlight ps-4 header">
        
        <a class="p-2 me-5 ms-3 col-md-1 full-height aaa homelink" >Chatterbox</a>
        
        <a class="p-2 col-md-1 full-height aaa" (click)="errorClick()">Dont click</a>
        <div class="p-input-icon-left col-md-2 ms-auto height-parent no-round">
            <i class="pi pi-search search-ic"></i>
            <input class="height-parent search-text" type="text" pInputText placeholder="Search">         
        </div>
        <a *ngIf="currentUser" class="p-2 col-md-2 full-height aaa" >Bienvenido, {{currentUser?.UserName}}</a>
        <a *ngIf="currentUser" class="p-2 col-md-2 full-height aaa" (click)="logout()">Logout</a>
        <a *ngIf="currentUser==null" class="p-2 col-md-2 full-height aaa" href="/auth/login">Login</a>
        
    </div>
</header>
